@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@title</title>
    <link href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/narrow-jumbotron.css")" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Play Silhouette Reactivemongo Angular</h3>
      </div>
      @content
      <footer class="footer">
        <p>&copy; Company 2016</p>
      </footer>
    </div>
  </body>
  <script src="@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular/angular.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular-route/angular-route.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular-ui-router/release/angular-ui-router.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular-cookies/angular-cookies.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/satellizer/dist/satellizer.min.js")"></script>

  <script src="@routes.Assets.at("javascripts/app.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/HomeCtrl.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/SignOutCtrl.js")"></script>
</html>