@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@title</title>
    <link href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/narrow-jumbotron.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/signin.css")" rel="stylesheet">
  </head>
  <body>
    @content
  </body>
  <script src="@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular/angular.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular-route/angular-route.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular-ui-router/release/angular-ui-router.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular-cookies/angular-cookies.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/satellizer/dist/satellizer.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/app.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/HeaderCtrl.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/HomeCtrl.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/SignInCtrl.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/SignUpCtrl.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/SignOutCtrl.js")"></script>
  <script src="@routes.Assets.at("javascripts/services/UserFactory.js")"></script>
</html>