<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign up</title>
    <link href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/signin.css")" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form class="form-signin">
        <h3 class="form-signin-heading">Please sign up</h3>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputFirstname" class="sr-only">First name</label>
        <input type="text" id="inputFirstname" class="form-control" placeholder="First name" required >
        <label for="inputLastname" class="sr-only">Last name</label>
        <input type="text" id="inputLastname" class="form-control" placeholder="Last name" required >
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
    </div>
  </body>
  <script src="@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular/angular.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular-route/angular-route.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular-ui-router/release/angular-ui-router.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular-cookies/angular-cookies.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/satellizer/dist/satellizer.min.js")"></script>
  
  <script src="@routes.Assets.at("javascripts/app.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/SignUpCtrl.js")"></script>
</html>