<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign in</title>
    <link href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/signin.css")" rel="stylesheet">
  </head>
  <body>
    <div class="container" ng-controller="SignInCtrl">
      <form class="form-signin" ng-submit="submit()">
        <h3 class="form-signin-heading">Please sign in</h3>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" ng-model ="user.email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" ng-model="user.password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me" ng-model="user.rememberMe"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
  </body>
  <script src="@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular/angular.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular-route/angular-route.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular-ui-router/release/angular-ui-router.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/angular-cookies/angular-cookies.min.js")"></script>
  <script src="@routes.Assets.at("bower_components/satellizer/dist/satellizer.min.js")"></script>
  
  <script src="@routes.Assets.at("javascripts/app.js")"></script>
  <script src="@routes.Assets.at("javascripts/controllers/SignInCtrl.js")"></script>
</html>